@charset "utf-8";
/* 初始化 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, p,  th, td{ margin:0; padding:0; font-family:"微软雅黑";}
body { font-size:14px; font-family:"微软雅黑";color:#666; background:#f7f7f7; }
fieldset, img { border:none; }
ol, ul { list-style:none; }
h1, h2, h3, h4, h5, h6 ,input{ font-family:"微软雅黑";font-size:100%; }
em,i,b,s{ font-style:normal; }
input[type=text],input[type=password]{color:#333!important;}
input, button, select, textarea { outline:none;border:none; } 
textarea { resize:none; } 
a{text-decoration:none;color:#666;outline:none; color:#0085d0;}
a:hover { color:#0085d0; text-decoration:none; }

.wrap{width:1200px;margin:0 auto;}
/*
// .valid {background:url(../img/right-mark-icon.png) no-repeat 98%;}
*/
/* 公共件样式 */
.fl{float:left;}
.fr{float:right;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1}

.color01{color:#0085d0!important;}
.color02{color:#fdaf17!important;}
.bg-color01{background:#0085d0!important;}
.btn01{width:100%;height:44px;line-height:24px;background:#0085d0;border-radius:5px;font-size:21px;text-align:center;color:#fff;cursor:pointer; letter-spacing: 3px;}
.btn02{width:100%;height:44px;line-height:24px;background:#fdaf17;border-radius:5px;font-size:24px;text-align:center;color:#fff;cursor:pointer;}
/* 背景层覆盖 */
#bgCover{background:#666;position:fixed;z-index:9999;left:0;top:0;width:100%;height:100%;opacity:0.5;filter: alpha(opacity=50);-moz-opacity: 0.5;display:none;}
.loading{width:160px;height:80px;border-radius:10px;padding-left:60px;line-height:80px;font-size:18px;background:url(../img/loading.gif) 20px 50% #fff no-repeat;position:fixed;z-index:10000;left:50%;top:50%;}

.table-list{width:100%;color:#fff;border-collapse:collapse;}
.table-list tr:hover{background:#f6f9fb;}
.table-list td{height:58px;position:relative;}
.table-list th,.table-list td{border-bottom:1px solid #eee;text-align:center;vertical-align:middle;color:#333;}
.table-list th{border-top:1px solid #eee;height:46px;color:#474e5d;}

/* 头部 */
// .header{
//     width:100%;
//     height:142px;
//     // border-bottom:2px solid #0085d0;
// }
// .header .header_top{
//     height:40px;
//     background:#2c2c30;
// }
// .header .header_top .header_top_wrap{
//     height:40px;
//     line-height:40px;
// }

// .header .header_top .header_top_wrap .header_top_wrap-right{
//     float:right;
//     margin-right: -79px;
// }
// .header .header_top .header_top_wrap .header_top_wrap-right ul li{
//     float:left;
//     height:40px;
//     line-height:40px;
//     margin-left:40px;
//     color:#fff;
// }
// .header .header_top .header_top_wrap .header_top_wrap-right ul li a{
//     color:#fff;
// }

// .header .header_bottom{
//     height:100px;
//     background:#fff;
// }
// .header .header_bottom .header_bottom_wrap{
//     height:100px;
// }
// .header .header_bottom .header_bottom_wrap .header_bottom_wrap_left{
//     float:left;
//     margin-top:28px;
// }
// .header .header_bottom .header_bottom_wrap .header_bottom_wrap_right{
//     float:right;
//     height:100px;
// }
// .header .header_bottom .header_bottom_wrap .header_bottom_wrap_right .nav ul li{
//     float:left;
//     height:100px;
//     line-height:100px;
//     margin-left:138px;
//     font-size:18px;
// }
// .header .header_bottom .header_bottom_wrap .header_bottom_wrap_right .nav ul li a{
//     color:#171717;
// }
// .header .header_bottom .header_bottom_wrap .header_bottom_wrap_right .nav ul li a:hover{
//     color:#0085d0;
// }
// .header .header_bottom .header_bottom_wrap .header_bottom_wrap_right .nav ul li.current a{
//     color:#0085d0;
// }
/*登录注册头部*/
.lr_header{width:100%;height:92px;}
.lr_header_wrap{height:92px;}
.lr_header_wrap h1{display:inline-block;height:72px;padding-top:25px;margin-right:20px;}
.lr_header_wrap a{font-size:14px;}

/*底部*/
// .p-marginTop{
//     margin-top:7px;
// }
// .p-marginLeft{
//     margin-left: 23px;
// }
// .p-marginLeft2{
//     margin-left: -5px;
// }
// .weixin_ewm img{
//     width: 101px;
//     height: 101px;
// }
// .footer{
//     width:100%;
//     height:276px;
// }
// .footer .footer_top{
//     height: 216px;
//     background:#273444;
// }
// .footer .footer_top_wrap{
//     height:186px;
//     padding:36px 0 0 0;
// }
// .footer .footer_top_wrap dl{
//     display:inline-block;
//     width:390px;
//     height:148px;
//     border-right: 1px solid #fff;
//     text-align:center;
// }
// .footer .footer_top_wrap dl dt{
//     margin-bottom:12px;
//     font-weight: 300;
// }
// .footer .footer_top_wrap dl dd{
//     line-height:40px;
// }
// .footer .footer_top_wrap dl a,.footer .footer_top_wrap dl.phone_ewm h2,.footer .footer_top_wrap dl p{
//     font-family: "宋体";
//     color:#fff;
// }
// .footer .footer_top_wrap dl dt a{
//     font-size:16px;
// }
// .footer .footer_top_wrap dl.phone_ewm{
//     width:170px;
//     border-right:none;
// }
// .footer .footer_top_wrap dl.phone_ewm h2{
//     font-weight:normal;
//     font-size:16px;
//     margin-bottom:6px;
// }
// .footer .footer_top_wrap dl.weixin_ewm{
//     border-right:none;
// }

// .footer .footer_bot{
//     height: 60px;
//     padding-top:10px;
//     text-align:center;
//     background:#2c2c30;

// }

// .p-footer_bot{
//     color:#fff;font-size:12px;padding-top:15px !important;
// }
// .p-footer_bot2{
//     padding-top:22px !important;
// }

// .list-inline>li{float: left;font-size: 15px;color: #030303;margin-right: 30px;padding-left: 10px; margin-bottom:20px;}
// .list-inline>li:first-child{padding-left: 10px;}
// .clearfix{overflow: hidden;}
.register-form-con>div input[value]{margin-right: 4px;}
input::-webkit-input-placeholder { /* WebKit browsers */ 
color: #bebebe; 
} 
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #bebebe; 
} 
input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #bebebe; 
} 
input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #bebebe; 
} 

.p-sub{visibility:hidden;}