body{overflow-x: hidden;background:#fafafa;font-size: 14px;font-family: "微软雅黑"; }
h3{font-size:30px;}
.p-container{width: 1200px;margin: 0 auto; }/*使大屏幕的时候显示中间区域为1200px  background:pink !important;*/
.p-container2{width: 67.1%;margin: 0 auto; }
.p-container3{width: 65.1%;margin: 0 auto; }
.p-container4{width: 64.1%;margin: 0 auto; }
.p-container5{margin: 0 auto;width: 1200px; }
.p-noanything{padding: 0; margin: 0;list-style: none;}
.p-nopadding{padding: 0 !important;}
.p-nopadding2{padding: 0;padding-right: 20px;}
.p-nomargin{margin: 0;}
.p-width100{width: 100%;}
.p-width1{width: 100% !important;}
.p-width2{width: 182px;}
.p-width4{width: 1071px; height: 262px;}
.p-width5{width: 1054px; margin: 0 auto;overflow: hidden;}
.p-btn{width: 120px; height: 36px;  border-radius:3px; text-align: center; background:#0085d0; color:#fff !important;}
.p-btn5{width: 130px; height: 36px; line-height: 36px; text-align: center;background:#0085d0; color:#fff ;display: inline-block; border-radius:3px; cursor:pointer;}
.p-btn5:hover{color:#fff;}
.p-btn6{width: 100px; height: 30px;padding: 0; line-height: 30px; text-align: center;background:#fdaf17; color:#fff ; border-radius:5px; cursor:pointer; font-size:14px;}
.p-btn6:hover{color:#fff;}
.p-btn:hover{background:#037dc1 !important; color:#fff;}
.p-btn2{width: 62px; height: 22px; border: 1px solid #0085d0; text-align: center !important; line-height: 20px; font-size:12px; color:#0085d0; border-radius:3px; }
.btn-primary{background:#0085d0;border:0;}
.btn-primary:hover{background:#0085d0 !important;color:#fff !important;}
ul,ul>li{padding: 0 ;margin: 0 ; list-style:none;}
a,a:hover{color:#0085d0;text-decoration: none;}
.p-col-sm-2{width: 20.6%;border-radius:5px;overflow: hidden; }
.p-col-sm-10{width: 77.6%; background:#fff; height: auto; margin-left: 1.8%; padding:50px 90px;}
.p-badge{color:red;}
th{text-align: center;}
.p-textnowarp{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}/*单行文本溢出省略*/
.p-textnowarp2{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden; }/*多行文本溢出省略*/
.p-textnowarp3{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;width: 200px; display: inline-block; position: relative; top:4px;}
.p-taj{text-align:justify;}
.p-inline{display: inline;}
.p-block{display: block;}
.p-inlineblock{display: inline-block;}
.p-tdn{text-decoration: none;}
.p-tdn:hover{text-decoration: none;}
.p-ovh{overflow: hidden;}
.p-visibility{visibility: hidden;}
sub{color:red;padding-left: 12px;position: relative; top:-1px;}
.form-group{margin-bottom: 0;}
textarea{resize:none;}
ol>li{list-style:none;}
.t-ul>li>a:hover{text-decoration: none;}


/*-------footer--------*/
.footer{background:#273444; overflow: hidden; font-family: "宋体";}
.footer ul li>a{color:#fff;}
.p-bdr{border-right: 1px solid #fff;  margin:2.2em 0; font-size:16px;white-space:nowrap; }
.p-bdr>li{padding-bottom:1em; text-align: center;}
.p-mart{margin-top: 2em;}
.p-wechat li>img{width: 7em;}
.p-wechat{color:#fff;}
.p-bdrno{border-right: none;}
.foot-bottom{height: 5em; background:#2c2c30; border-top: 1px solid #fff; padding-top: 13px; color:#fff;}
.p-bdb{border-bottom: 1px solid #BEBEBE;}

/*-------fontcolor--------*/
.p-fontsize{font-size:14px;}
.p-fontsize2{font-size:16px;}
.p-fontsize3{font-size:18px;}
.p-fontsize4{font-size:24px;}
.p-fontsize5{font-size:36px;}
.p-fontsize6{font-size:18px;}
.p-fontcolor{color:#000;} 
.p-fontcolor1{color:#fff;}
.p-fontcolor2{color:#a9b0b4;}
.p-fontcolor3{color:#0085d0;}
.p-fontcolor4{color:#BEBEBE !important;}
.p-fontcolor5{color:#fdaf17;}
.p-fontcolor6{color:#000 !important; background:#e7e7e7;}
.p-fontcolor7{color:#F7CE65 !important;}
.p-fontcolor8{color:red;}
.p-fontcolor9{color:#F22D1C;}
.p-fontcolor20{color:#0085d0;}
.p-fontsizeM{font-size:12px; margin-right: 8px;}
.p-fontweight{font-weight: bold;}

/*-------margin--------*/
.p-marginTop{margin-top: 77px !important; margin-bottom: 50px !important;}
.p-marginTop2{margin-top: 25px;}
.p-marginTop3{margin-top: 84px;}
.p-marginTop4{margin-top: -4px;}
.p-marginTop5{margin-top: 7px; margin-bottom: 66px;}
.p-marginTop6{margin-top: -5px;margin-left: 7px; }
.p-marginTop7{margin-top: 45px;}
.p-marginTop8{margin-top: 22px; display: inline-block;}
.p-marginTop9{margin-top: 90px; margin-bottom: 75px; text-decoration: none !important;}
.p-marginTop15{margin-top: 48px; margin-bottom: 75px; text-decoration: none !important;}
.p-marginTop10{margin-top: 15px !important;}
.p-marginTop11{margin-top: 10px;}
.p-marginTop12{margin-top: 70px !important;}
.p-marginTop13{margin-top: 96px;margin-bottom: 60px;}
.p-marginTop14{margin-top: -57px;}
.p-marginTop16{margin-top: 30px;}
.p-marginTop17{margin-top: 8px;}
.p-marging1{margin:56px 0 30px;}
.p-margingBottom{margin-bottom: 33px;}
.p-marginBottom2{margin-bottom: 80px;}
.p-marginBottom3{margin-bottom: 107px;}
.p-marginBottom4{margin-bottom: 20px;}
.p-marginBottom5{margin-bottom: 50px;}
.p-marginBottom6{margin-bottom: 140px;overflow: hidden;}
.p-marginBottom9{margin-bottom: 68px;overflow: hidden;}
.p-marginBottom7{margin-bottom: 218px;overflow: hidden;}
.p-marginBottom8{margin-bottom: 9px;}
.p-marginBottom0{margin-bottom: 0 !important;}
.p-marginBottom11{margin-bottom: 8px;}
.p-marginBottom12{margin-bottom: 60px;}
.p-marginBottom13{margin-bottom: 130px;}
.p-margin2{margin-top: 37px;}
.p-margin3{margin:4px 10px 0;}
.p-margin33{margin:12px 10px 0;}
.p-margin4{margin:0 10px;}
.p-margin6{margin-top:34px; margin-bottom: 34px;}
.p-margin7{margin-top:54px; margin-bottom: 54px; overflow: hidden;}
.p-margin8{margin:8px; overflow: hidden;}
.p-margin25{margin:23px 8px; }
.p-margin25>span:first-child{ width: 110px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;display: inline-block;}
.p-margin9{margin:0 10px;}
.p-margin10{margin-left: 5em;margin-top: -22px;}
.p-margin11{margin-left: 80px;margin-top: -22px;}
.p-margin12{margin:60px 0; margin-left: 50px;}
.p-margin13{margin-bottom:0;}
.p-margin14{margin:0 10px 10px;}
.p-margin15{margin:67px 0 63px;}
.p-margin16{margin-top:47px;margin-bottom: 66px; overflow: hidden;}
.p-margin17{margin:46px 0 78px;}
.p-margin26{margin:56px 0 46px;}
.p-margin27{margin-top:54px; margin-bottom: 38px; overflow: hidden;}
.p-margin28{margin:30px 0 18px 25px; font-weight: bold;}
.p-margin29{margin:44px 46px; font-weight: bold;}
.p-margin31{margin:44px 46px 18px; font-weight: bold;}
.p-margin32{margin:44px 33px 44px 46px; font-weight: bold;}
.p-margin30{margin-left: 11px;}
.p-margin18{margin-top:97px;margin-bottom: 37px;overflow: hidden;}
.p-margin19{margin-top:27px;margin-bottom: 22px;}
.p-margin20{margin-top:24px;margin-bottom: 24px;}
.p-margin21{margin-top:17px;margin-bottom: 50px;}
.p-margin22{margin-top:24px;}
.p-margin23{margin-top:24px; margin-bottom: 10px; overflow: hidden;}
.p-margin24{margin-top:43px;margin-bottom: 37px;overflow: hidden;}
.p-marginTop{margin-top:30px;margin-bottom: 37px;}
.p-margincenter{margin: 0 auto; margin-top: 40px; margin-bottom: 9px;}
.p-marginLeft{margin-left: 16px;}
.p-marginLeft1{margin-left: 50px;}
.p-marginLeft2{margin-left: 66px;}
.p-marginLeft3{margin-left: 86px !important;}
.p-marginLeft4{margin-top: 48px;margin-bottom: 48px;}
.p-marginLeft5{margin-left: 84px;}
.p-marginLeft6{margin-left: 38px;}


/*-------background--------*/
.p-background1{background:#fff; overflow: hidden;}
.p-background3{background:#fdaf17 !important;}
.p-background4{background:#F0F0F0;}
.p-background5{background:url(../img/Assistor.jpg) no-repeat;}

/*-------boxshow--------*/
.p-boxshow{box-shadow:0px 2px 2px 2px #dedede; border-radius:7px; overflow: hidden;}
.p-boxshow2{box-shadow:0px 2px 3px 1px #dedede; }
.p-boxshow3{box-shadow:0px 2px 5px 1px #dedede; border-radius:3px;}

/*-------position--------*/
.p-por{position: relative; overflow: hidden;}
.p-por12{position: relative; }
.p-por3{position: relative; top:-2px; padding-right: 10px;}
.p-por4{position: relative; top:45px;padding-bottom: 20px;}
.p-por5{position: relative; left:-8px;padding-bottom: 10px;}
.p-por6{position: relative; right:-4px;}
.p-por9{position: relative; right:-8px;}
.p-por7{position: relative; left:-10px;}
.p-por8{position: relative; top:2px;}
.p-por10{position: relative; top:4px;}


/*-------border--------*/
.p-borderBottom{border-bottom: 1px solid #BEBEBE; }
.p-borderBottom2{border-bottom: 2px solid #0085d0;}
.p-borderBottom3{border-bottom:1px solid #ebebeb;}
.p-borderBottom4{border-bottom:1px solid #0085d0;}
.p-borderBottom5{border-bottom:1px solid #0085d0; width: 174px; padding-bottom: 11px; margin: 0 auto;}
.p-border{border: 1px solid #0085d0; border-radius:50%; width: 100px; height: 100px;line-height: 100px; text-align: center; display: inline-block;}
.p-border1{border:1px solid #F4F4F4;}
.p-border2{border:1px solid #F4F4F4; border-top: 0;}
.p-border3{border:1px solid #BEBEBE; }
.p-border4>li>span{border: 1px solid #DFDFDF; padding:13px 0 0; background:#F3F3F3; display: inline-block; width: 100%;}
.p-border4>li{padding: 0; height: 195px;}
.p-border5{border-top: 10px solid #fdaf17; display: inline-block;}
.p-border6{border-top: 10px solid #0085d0; display: inline-block;}
.p-borderColor{border-color: #ccc !important;}

/*-------padding--------*/
.p-pddingBottom{padding-bottom: 30px;}
.p-pddingBottom6{padding-bottom: 60px;}
.p-pddingBottom2{padding-bottom: 10px;}
.p-pddingBottom3{padding-bottom: 7px;}
.p-pddingBottom4{padding-bottom: 20px; overflow: hidden; }
.p-paddingBottom5{padding-bottom: 16px;}
.p-padding1{padding:0 24px;}
.p-padding2{padding:27px 0;}
.p-padding3{padding:5px 0;}
.p-padding4{padding:60px 20px;}
.p-padding5{padding:27px 0;}
.p-padding6{padding:0 3px;}
.p-padding7{padding:3px;}
.p-padding8{padding:0 64px;}
.p-padding9{padding:150px 0 38px; margin-bottom: 56px;}
.p-padding19{padding:46px 0 38px; margin-bottom: 56px;}
.p-padding20{padding:0 137px 135px;}
.p-padding10{padding:0 50px;}
.p-padding11{padding:27px 0;}
.p-padding12{padding:14px 14px 0;}
.p-padding13{padding:10px 0;}
.p-padding14{padding:13px 26px 0 26px; background:#fff;}
.p-padding15{padding:20px;}
.p-paddingLeft{padding-left: 3px;}
.p-paddingLeft2{margin-left: 20px;}
.p-paddingLeft7{padding-left: 62px !important; padding-top: 20px;padding-bottom: 20px;}
.p-paddingLeft3{padding-left: 18px; color:#F3D267; padding-top: 9px;display: inline-block;}
.p-paddingLeft4{padding-left: 56px;}
.p-paddingLeft5{padding-left: 44px;}
.p-paddingLeft6{padding-left: 28px;}
.p-paddingLeft8{padding-left: 15px !important; float: right; cursor:pointer;}
.p-paddingLeft9{padding-left: 10px;}
.p-paddingLeft10{padding-left: 25px; display: inline-block;}
.p-paddingLeft11{padding-left: 8px; }
.p-paddingTop{padding-top: 13px; font-size:16px;}
.p-paddingTop2{padding-top: 80px; padding-bottom: 50px;}
.p-paddingTop3{padding-top: 80px; padding-bottom: 30px;margin-bottom: 30px;}

.p-strong{font-weight: bolder;}

/*垂直居中*/
.verticalAlign{ vertical-align:middle; display:inline-block; height:100%; margin-left:-1px;}

.xcConfirm .xc_layer{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #666666; opacity: 0.5; z-index: 2147000000;}
.xcConfirm .popBox{position: fixed; left: 50%; top: 50%; background-color: #ffffff; z-index: 2147000001; width: 400px; height: 211px; margin-left: -200px; margin-top: -105.5px; border-radius: 5px; font-weight: bold; color: #535e66;}
.xcConfirm .popBox .ttBox{height: 38px; line-height: 8px; padding: 14px 14px; border-bottom: solid 1px #eef0f1;}
.xcConfirm .popBox .ttBox .tt{font-size: 16px; display: block; float: left; height: 30px; position: relative;}
.xcConfirm .popBox .ttBox .clsBtn{display: block; cursor: pointer; width: 12px; height: 12px; position: absolute; top: 13px; right: 16px; background: url(../img/icons.png) -48px -96px no-repeat;}
.xcConfirm .popBox .txtBox{margin: 40px 0px; height: 42px; }
.xcConfirm .popBox .txtBox .bigIcon{float: left; margin-right: 10px; margin-left: 70px; width: 48px; height: 48px; background-image: url(../img/icons.png); background-repeat: no-repeat; background-position: 48px 0;}
.xcConfirm .popBox .txtBox p{ height: 84px; margin-top: 16px; width: 334px; padding-top:17px; text-align: left; font-size:14px; font-family:"微软雅黑";}
/*// .xcConfirm .popBox .txtBox p{ height: 84px; margin-top: 16px; width: 334px; padding-top:17px; }*/
/*// .xcConfirm .popBox .txtBox p input{width: 364px; height: 30px; border: solid 1px #eef0f1; font-size: 18px; margin-top: 6px;}*/
.xcConfirm .popBox .txtBox p input{width: 24px; height: 16px; border: solid 1px #eef0f1; font-size: 18px; margin-top: 6px;}
.xcConfirm .popBox .btnArea{border-top: solid 1px #eef0f1;}
.xcConfirm .popBox .btnGroup{float: right;}
.xcConfirm .popBox .btnGroup .sgBtn{margin-top: 8px; margin-right: 10px;}
.xcConfirm .popBox .sgBtn{display: block; cursor: pointer; float: left; width: 100px; height: 35px; line-height: 35px; text-align: center; color: #FFFFFF; border-radius: 5px;}
.xcConfirm .popBox .sgBtn.ok{background-color: #0095d9; color: #FFFFFF;}
.xcConfirm .popBox .sgBtn.cancel{background-color: #dddbdb; color: #FFFFFF;}



/*-------  蓝色：#0085d0 / 橙色：#fdaf17 / 黑色：#171717 页面背景底色（灰色）：#fafafa   --------*/
/*-------css--------*/
.p-top{height: 64px; background:#fff;line-height: 64px;}
.p-top>span>em{border-left: 1px solid #D8D8D8; overflow: hidden; padding-left: 15px;margin-left: 15px; position: relative;bottom:-10px;}
.p-header{background:#fff;margin: 0 auto;width: 100%;height: 64px;}
.p-ul>li{padding: 0;}
.p-ul>li:first-of-type>a:first-child{padding-right: 10px;border-right: 1px solid #0085d0;margin-right: 10px;}
.p-navbar{background:#fafafa;border:0; border-radius: 0; border-bottom: 2px solid #0085d0;}
.p-background{background:#0085D0;color:#fff;}
.navbar-default .navbar-nav>li>a{color:#000; font-size:16px;}
.navbar-default .navbar-nav>li>a:hover{color:#777;}
.p-li>a{color:#fff;}
.nav>li:first-of-type{margin-right: 38px; }
.nav>li:first-of-type>a{padding:29px 51px; font-weight: bold;}
.nav>li:last-of-type>a{padding:0; line-height: 36px; margin-top: 20px;}
.nav>li>a{padding:29px 0px; padding-left: 38px; padding-right: 38px;}

.all{ height:auto;  background:#fff; }
.all span{  cursor:pointer;}
.all span:first-child{margin-right: 10px;}
.all>ul ul{ display:block;}
.all>ul>li>span{background:#E6EBEF;width: 100%; height: 36px; display: inline-block; padding-left: 32px; line-height: 35px;}
.all ul .current ul{ display:none; }
.all>ul ul li{  border-bottom: 1px solid #F9F9F9; height: 47px; line-height: 47px; overflow: hidden; position: relative;}
.all>ul ul li>a{width: 100%; display: block;padding-left: 55px; color:#BEBEBE; text-decoration: none;}
.all>ul ul li>a:hover{color:#0085d0; }
.all ul .current{border-bottom: 1px solid #fff;}
.all ul .current:last-child{border-bottom:0;}
.p-background2{background:#0085d0; height: 30px; line-height: 30px; padding-left: 8px; border-top-right-radius: 38px;}

.p-nav{height: 62px;width: 100%; background:#fff; box-shadow: 0 0 7px 1px #ccc;}
.p-ul2>li{line-height: 60px; padding:0 32px; }
.p-ul2>li>a{color:#a9b0b4;}
.p-liactive{border-bottom: 2px solid #0085d0;}
.p-ul2>.p-liactive>a{color:#0085d0;text-decoration: none;}
.p-ul2>.p-firstLi{line-height: 62px;background:#0085d0; padding:0 20px !important;color:#fff;margin-right: 22px;}
.p-overflow{width: 100%;height: 100%; overflow: hidden; display: inline-block;}
.p-mask2{width: 100%;height: 100%;position: absolute;left: 0;bottom: -225px; background:rgba(0,0,0,0.5);z-index:2; display: block !important; padding:0 37px; font-size:16px;}
.p-mask2>p{position: relative;top:50%; -webkit-transform: translateY(-50%);}
.p-mask{width: 100%;height: 100%;position: absolute;left: 0;bottom: -177px; background:rgba(0,0,0,0.5);z-index:2; display: block !important;}
.p-mask>p{position: relative;top:50%; -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
        transform: translateY(-50%); text-align: left; padding:0 30px; line-height: 2; color:#fff;
        display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 5;overflow: hidden;
    }
.p-padding05{padding:10px 13px; line-height: 2; position: relative; top:-4px;}
.p-padding06{padding:10px 0px; }
.p-padding066{padding:10px 0px 6px; }
.p-fontcolorblue{color:#fdaf17; font-size:18px; padding-left: 10px;}
.p-margin05{margin:14px 13px 14px;}
.p-lineheight3{line-height: 2; color:#bebebe;}
.p-lineheight4{line-height: 23px;}
.p-lineheight5{line-height: 53px; margin: 0;}
.p-border8{width: 66px; height: 26px; border: 1px solid #0085d0; color:#0085d0; text-align:center; border-radius:2px; line-height: 24px; margin-bottom: 14px; cursor: pointer;}
.p-ul3>li{padding: 0  0.84% 34px;}
.p-ul14>li{padding: 0  0.6% 20px;}
.p-ul14{overflow: hidden; }
.p-ul15{height: 250px; position: relative; left:0px;}
.p-ul15>li{ width: 190px; height: 240px; margin-right: 30px;box-shadow:0 0 6px 2px #eee; float: left; border-radius:5px; }
.p-ul15>li:last-child,.p-ul16>li:last-child{margin-right: 0;}
.p-ul16{height: 300px; }
.p-ul16>li{ width: 232px; height: 300px; margin-right: 42px; float: left; border: 1px solid #eee;box-shadow:none; border-radius:0; overflow: hidden; background:#fff; background:#f7f7f7;}
.p-width999{width: 99999999999px;}
.pagination>li>a{margin-right: 8px;}
.pagination>.p-noborder>a{border:0;background:none; cursor:default;}
.pagination>.p-noborder>a:hover{background:none; color:#0085d0;}
.p-input{padding:5px 0;width:46px; text-align: center; border:0; border: 1px solid #ddd; color:#0085d0;background:#fff;}
.p-fontstyle{color:#0085d0;padding:5px;}
.p-fontstyle2{color:#BEBEBE;float: right;font-size:16px; margin-top: 2px;}
.p-fontstyle3{font-size:16px; padding-top: 76px;}
.p-fontstyle4{padding-top: 124px;}
.p-fontstyle5{margin-top: 20px; margin-left: 32px; display: inline-block;color:#fdaf17;}
.p-fontstyle6{margin-top: 20px; text-align: center; display: inline-block;color:#A6A6A6;}
.p-fontstyle7{padding-left: 40px;}
.p-fontstyle8{ color:#BEBEBE;font-size:14px;text-align: left;margin-top: 36px;}
.p-fontstyle9{ font-size:16px;line-height: 2;text-decoration: none;}
.p-fontstyle10{ font-size:20px;color:#fff;background:#0085d0;padding:26px 0;margin: 0;}
.p-fontstyle11{ padding:58px 20px 0;}
.p-fontstyle14{ padding:79px 20px 0; width: 521px;}
.p-fontstyle12{ font-size:14px;color:#9C9C9C;margin-top: 12px;overflow: hidden;display: inline-block;line-height: 2;}
.p-fontstyle13{font-weight: 300; color:#bebebe;}
.p-fontstyle15{ font-size:18px;margin-bottom: 10px; display: inline-block;}
.p-li>a:hover{color:#fff !important;}
.p-checkbox>label>input{margin-top: 19px; }
.p-checkbox>label{margin-right: 49px;}
.p-ul4>li:first-child{padding-left:18px;}
.p-ul4>li:nth-of-type(2){padding-left: 28px; padding-right: 18px;}
.p-ul4>li:nth-of-type(2)>.c-close{ background:#0085d0; border-radius:3px; line-height: 50px;padding:3px 8px;color:#fff; cursor:pointer;}
.p-ul4>li{line-height: 50px;}
.p-noLineheight{line-height:0 !important;}
.p-ul5>li>a{color:#000;}
.p-por2{position: relative; top:-7px; width: 54px; height: 24px; border-radius: 4px; line-height: 22px;}
.p-por11{position: relative; top:-2px; width: 54px; height: 24px; border-radius: 4px; line-height: 22px;}
.p-ul6>li{padding:0 1.8% 45px;}
.p-Previous,.p-Next{width: 50px;height: 323px;background:rgba(0, 0, 0, .3) url(../img/prev.png)no-repeat center;display: inline-block;}
.p-Next{background-image:url(../img/next.png); }
.carousel-control{height: 261px; width: 50px !important;}
.carousel-example{width: 1070px; overflow: hidden; }
.p-width1200{width: 1200px;]}
.p-img{width: 130px;background:url(../img/lunboleft.png)no-repeat left top;height: 324px; float: left; background-size:100% 100%;}
.p-img2{background:url(../img/lunboleft2.png)no-repeat left top;}
.p-img3{display: inline-block; margin: 0 auto; margin-bottom: 20px;}
.p-img4{max-height: 327.88px;}
.p-modeactive{background:#F5F5F5;}
.p-li2>a{height: 100%;display: inline-block;}
.p-ul7>li{height: 62px; line-height: 62px;}
.p-ul7>li:last-of-type{padding-right:20px;}
.p-ul8>li>span{border-radius:6px; overflow: hidden;background:#fff; height: 270px;padding:50px 28px 0; box-shadow:0 2px 4px 1px #ccc;}
.p-ul8>li{margin-bottom: 20px;}
.media-left{padding-right: 17px;}
.media-left>a>img{border: 1px solid #D2D2D2;}
.media, .media-body{overflow: visible;}
.media:last-child{border-bottom: 0;}
.p-mymember1{position: absolute;right:25px;top:50%; margin-top: -10px;}
.p-liactive2>a{color:#0085d0 !important;}
.p-vip01{position: absolute;right: -15px;bottom:-2px; color:#FAD747 !important; }
.p-ol>li>img{margin: 0 auto;}
.p-ol>li{margin-bottom: 30px;}
.p-active>a{color:#0085d0 !important;background:url(../img/nav1.png)no-repeat center bottom;}
.p-active1>a{color:#0085d0 !important;}
.p-height{height: 240px;}
.p-height2{height: 240px;}
.p-height8{height: 302px; margin-top: -20px;}
.p-height3{height: 302px !important;}
.p-height4{height: 480px;}
.p-height5{height: 339px;}
.p-height6{height: 663px;}
.p-height7{height: 523px !important;}
.p-height9{height: 20px; }
.p-height10{height: 307px; overflow: hidden; }
.p-height11{height: 345px; overflow: hidden; }
.p-glyphiconLeft,.p-glyphiconRight{position: absolute; top:50%; margin-top: -37.5px;}
.carousel-control .right,.carousel-control .left{background-image:none !important;}
.p-textarea{border: 1px solid #0099DF; outline:none;resize:none; border-radius:4px; padding:20px; margin-top: -24px; font-size:16px;}
.p-textarea2{position: relative;top:-24px;}
.p-activeLi{ color:#fff; background:url(../img/index-liactive.png)no-repeat !important; background-size:100% 100% !important;z-index:5; margin-top: -24px !important; width: 25% !important;}
.p-activeLi>span{border:0 !important; background:none !important; padding-top: 24px !important;}
.p-activeLi>span>p .p-borderRadius3{border-color:#fff;}
.p-ul9>li{width: 15%;margin: 0;float: left;}
.p-btn3{width: 270px; height: 53px; background:#fdaf17;  border-radius:6px; display:inline-block; line-height: 53px;text-align: center;color:#fff; font-size:16px; }
.p-btn3:hover{color:#fdaf17;border: 1px solid #fdaf17;background:none;}
.p-btn4{width: 120px; height: 40px; background:#0085d0; border-radius:6px; display:inline-block; line-height: 40px;text-align: center;color:#fff; font-size:16px; }
.p-btn4:hover{color:#fff;text-decoration: none;}
.p-ul10>li>span{background:url(../img/maker1.png)no-repeat center; background-size:100% 100%;width: 268px; height:162px;display: inline-block; color:#fff; padding:35px 15px;}
.p-ul10>li:nth-of-type(2)>span{background:url(../img/maker2.png);}
.p-ul10>li:nth-of-type(3)>span{background:url(../img/maker3.png);}
.p-ul10>li:nth-of-type(4)>span{background:url(../img/maker4.png);}
.p-ul11>li>span{display: inline-block;padding: 0;background:url(../img/maker6.png)no-repeat; background-size:100% 100%;height:330px;}
.p-ul11>li:nth-of-type(2)>span{background:url(../img/maker5.png)no-repeat; background-size:100% 100%; height: 330px;}
.p-ul12>li>span{padding:0 35px;display: inline-block;overflow: hidden;height:auto;border-radius:3px;}
.p-ul13>li{ font-size:16px; color:#bebebe; height: 86px;padding: 0;margin: 0; line-height: 104px;}
.p-ul13{margin: 0 auto; background:url(../img/vip-gem3.png)no-repeat; background-size:100%; width: 80%; margin-top: 40px;}
.p-ul13>li{padding-top: 9px;}
.p-ul13>li:first-child{padding-left: 3%;}
.p-ul13>li:nth-of-type(2),.p-ul13>li:nth-of-type(3),.p-ul13>li:nth-of-type(4),.p-ul13>li:nth-of-type(5){padding-left: 18.3%;}
.p-fontcoloractive>a{color:#0085d0 !important;text-decoration: none;}
.p-borderRadius{border-radius:4px 0 0 4px;}
.p-borderRadius2{border-radius:0 4px 4px 0;}
.p-borderRadius3{width: 22px;height: 22px;border: 1px solid #000;border-radius:50%; display: inline-block; line-height: 20px;margin-right: 2px;}
.p-paddingRight{padding-right: 12px; color:#bebebe; padding-top: 9px;}
.p-paddingRight2{padding-right: 13px; }
.dropdown-menu>li>a{padding:3px 50px; font-size:16px;}

[class^="icon-nav"]:before{font-size:22px; color:#000; padding-left: 20px;}
.dropdown-menu>li>a:hover{color:#0085d0; background:none;}
.p-iconBefore:hover:before{color:#0085d0 !important;}
.p-checkbox{display: inline-block !important; margin-left: 200px;}
.p-poaLi{position: absolute;top:0;left:0;}
.p-poaLi1{position: absolute;top:0;left:110px;}
.p-poa1{position: absolute;top:27.78%;left:72.16%; width:12.08%; height: 44.45%; cursor:pointer;}
.checkbox-inline+.checkbox-inline{margin-left: 0;}
.p-minHeight{min-height: 52px;}

.p-col-md-2{width: 16%;}
.p-textarea3{position: relative;top:-25px}
.p-textarea4{border-radius:4px;background:#fafafa;}
.elastislide-list>li>div{margin: 0 10px;}
.p-borderPadding{padding:50px 28px 0;border-radius:6px;}

/*-------maker join--------*/
.p-maker{margin-top: 30px;box-shadow:0 2px 8px 0 #dedede;}
.p-maker>img{margin: 0 auto; margin-top: 44px; margin-bottom: 42px;}
label{font-weight:400;}
.p-form{margin-bottom: 100px;}
.p-hr{border-top: 1px solid #bebebe;margin:35px 20px 0;}
.p-form-control{display: block;height: 34px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.p-h4{font-size:18px;}

.c-contact{display: none;}
.carousel.flexible .items{float: left; width:1071px;}
.p-hr{border-top:1px dashed  #BEBEBE; width:63.1%; margin:0 auto; margin-top:21px; margin-bottom:28px;}
.p-hr2{border-top:1px dashed  #BEBEBE; margin: 5px 0 0;}
.p-right{left:1021px ;}
.p-floatLeft{float: left;}
.p-floatRight{float: right;}
.p-ulWidth{width: 690px;box-shadow:0 0 6px 2px #eee; margin:0 0 6px 6px; background:#EBEBEB url(../img/index-banner2.jpg)no-repeat top center; border-radius:6px;}
.p-ulWidth2{width: 427px;box-shadow:0 0 6px 2px #eee;margin:0 6px 6px 0;background:#fff url(../img/index-banner1.jpg)no-repeat top center; border-radius:6px}
.p-arrow{width: 15px;height: 15px; border: 2px solid #C7C7C7; margin-top: 5px; display: inline-block; border-bottom:0;border-right:0; border-top-left-radius: 6px; -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
        transform: rotate(45deg);}
.p-arrow2{margin-top: 0; -webkit-transform: rotate(-135deg);
   -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
     -o-transform: rotate(-135deg);
        transform: rotate(-135deg);}
.p-ulWidth>li{cursor: pointer;}
.p-ulWidth>li:first-child{cursor: default;}
.c-ul10>li:last-child hr{border-top: 0;}
.c-ul11,.c-ul10{position: relative; top:0;}
.p-hr3{width: 96% !important;}
.p-badge{color:red; visibility: hidden;}
.c-ul11>li{height: 45px;}

.p-breadcrumb{background:#fff;}
.p-ul17{width: 926px;margin: 0 auto;}
.p-ul17>li{padding: 0;margin: 0; border: 1px solid #E5E5E5; border-top-right-radius:4px;border-top-left-radius:4px; overflow: hidden; text-align: center; margin-bottom: 20px;}
.p-ul17>li:nth-of-type(2),.p-ul17>li:nth-of-type(5){margin: 0 68px; margin-bottom: 20px;}
.p-ul17>li>p{padding-top: 10px;}
.p-ul18>li:last-child{border:0; color:#0085d0; cursor:pointer;text-align: center;margin: 0 auto; margin-top: 8px; width: 77px; border-bottom: 1px solid #E5E5E5; overflow: hidden;}
.p-gem4{display: inline-block; position: relative;top:6px;color:#F9D646;font-weight: normal;}
.p-ul19>li{border: 1px solid #0085d0; border-radius:20px; color:#0085d0; padding:2px 0px; margin-right: 30px; width: 86px;text-align: center;}
.c-none{display: none;}



@media screen and (min-width: 1801px) {
   .p-paddingLeft3{padding-left: 38px;}


}

@media screen and (min-width: 1601px) and (max-width: 1800px) {


    // .nav>li>a{padding-left: 32px; padding-right: 32px;}
    .p-paddingLeft3{padding-left: 38px;}
    .p-padding4{padding:30px 20px;}



}

@media screen and (min-width: 1401px) and (max-width: 1600px) {

    // .nav>li>a{padding-left: 20px; padding-right: 20px;}
    .p-paddingLeft2{margin-left: 0px;}
    .p-padding4{padding:20px 10px;}
    .p-ul2>li{padding:0 30px; }
    .p-marginLeft1{margin-left: 20px;}
    .p-height5{height: 330px;}
    .p-container3{width: 80%; }
    .p-hr{width: 80%;}



}

@media screen and (min-width: 1201px) and (max-width: 1400px) {

    // .nav>li>a{padding-left: 8px; padding-right: 8px;}
    .p-mymember1{right:10px;}
    .p-paddingLeft2{margin-left: 0px;}
    .p-padding4{padding:10px 5px;}
    .p-ul2>li{padding:0 22px; }
    .p-height5{height: 320px;}
    .p-container3{width: 80%; }
    .p-hr{width: 80%;}



}
@media screen and (min-width: 993px) and (max-width: 1200px) {

    // .nav>li>a{padding-left: 4px; padding-right: 4px;}
    // .nav>li:first-of-type>a{padding:29px 14px; }
    // .nav>li:first-of-type{margin-right: 18px; }
    .p-mymember1{right:0px;}
    .p-paddingLeft2{margin-left: 0px;}
    .p-padding4{padding:10px 5px;}
    .p-ul2>li{padding:0 13px; }
    .dropdown-menu>li>a{padding:3px 37px 3px 12px;}
    .p-height5{height: 293px;}
	.p-marginLeft2{margin-left: 36px;}
	.p-marginLeft3{margin-left: 56px !important;}
    .p-container3{width: 90%; }
    .p-hr{width: 90%;}

}

@media screen and (min-width: 768px) and (max-width: 992px) {

    // .nav>li>a{padding-left: 1px; padding-right: 1px;}
    // .nav>li:first-of-type>a{padding:29px 10px; }
    // .nav>li:first-of-type{margin-right: 8px; }
    .all>ul>li>span{padding-left: 10px;}
    .p-mymember1{display: none;}
    .p-paddingLeft2{margin-left: 0px;}
    .p-padding4{padding:10px 5px;}
    .p-ul2>li{padding:0 3px; }
    .dropdown-menu>li>a{padding:3px 37px 3px 12px;}
    .p-height5{height: 350px;}
	.p-marginLeft2{margin-left: 16px;}
	.p-marginLeft3{margin-left: 6px !important;}
    .p-container3{width: 90%;}
    .p-hr{width: 90%;}

}

@media screen and (max-width: 767px) {

    .p-col-sm-2{width: 50%; }
    .p-col-sm-10{width: 100%; margin-left: 0;}
    .p-mymember1{right:25px;;}
    .p-paddingLeft2{margin-left: 0px;}
    .p-padding4{padding:0;}
    .p-ul2>li{padding:0 2px; }
    .dropdown-menu>li>a:hover{color:#fff !important; }
    .dropdown-menu>li>a:hover:before{color:#fff !important;}
    .p-height5{height: 372px;}
	.p-marginLeft2{margin-left: 20px;}
	.p-marginLeft3{margin-left: 20px !important;}
	.p-por7{position: relative; left:10px;}
	.p-textarea5{margin-left: 16.666667%;}
    .navbar-nav .open .dropdown-menu{background-color:#eee;}
    .p-background{background:none;}
    .p-container3{width: 90%;}
    .p-hr{width: 90%;}

}

